---
import Logo from "~/components/Logo.astro";

interface Props {
  title?: string;
  subtitle?: string;
  text?: string;
  button?: boolean;
  buttonText?: string;
  imgSrc: string;
  logo?: boolean;
}

const {
  title,
  subtitle,
  text,
  imgSrc,
  buttonText = "Get Started",
  button = true,
  logo = true,
} = Astro.props;
---

<div class="hero min-h-screen" style=`background-image: url(${imgSrc});`>
  <div class="hero-overlay bg-opacity-60"></div>
  <div class="hero-content text-neutral-content text-center">
    <div class="max-w-md">
      {
        logo && (
          <div class="flex flex-row justify-center items-center">
            <Logo title={false} size={200} />
          </div>
        )
      }
      {title && <h1 class="text-title font-title">{title}</h1>}
      {subtitle && <h2 class="mt-3 text-subtitle font-subtitle">{subtitle}</h2>}
      {text && <p class="mt-3 text-text font-text">{text}</p>}
      {
        button && (
          <button class="btn btn-primary text-buttontext font-buttontext mt-5">
            {buttonText}
          </button>
        )
      }
    </div>
  </div>
</div>
