---
import { NavbarData } from "~/navigation";
import Logo from "./Logo.astro";
import ThemeToggle from "./ThemeToggle.astro";
import ThemeSwitcher from "./ThemeSwitcher.astro";
import ThemeToggleMobile from "./ThemeToggleMobile.astro";

// Accept the sticky prop
const { sticky = false } = Astro.props;
---

<div
  class=`navbar bg-primary text-primary-content ${sticky ? 'sticky top-0 z-50' : ''}`
>
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h8m-8 6h16"></path>
        </svg>
      </div>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow text-base-content"
      >
        {
          NavbarData.links.map(({ text, href, links }) => (
            <li>
              {links ? (
                <details>
                  <summary>{text}</summary>
                  <ul class="p-2">
                    {links.map((sublink) => (
                      <li>
                        <a href={sublink.href}>{sublink.text}</a>
                      </li>
                    ))}
                  </ul>
                </details>
              ) : (
                <a href={href}>{text}</a>
              )}
            </li>
          ))
        }
        <div class="flex flex-row justify-center items-center">
          <ThemeToggleMobile />
        </div>
      </ul>
    </div>
    <a class="btn btn-ghost text-xl"><Logo /></a>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      {
        NavbarData.links.map(({ text, href, links }) => (
          <li>
            {links ? (
              <details>
                <summary>{text}</summary>
                <ul class="p-2">
                  {links.map((sublink) => (
                    <li>
                      <a
                        href={sublink.href}
                        class="text-nowrap text-base-content"
                      >
                        {sublink.text}
                      </a>
                    </li>
                  ))}
                </ul>
              </details>
            ) : (
              <a href={href}>{text}</a>
            )}
          </li>
        ))
      }
    </ul>
    <ThemeToggle />
    <ThemeSwitcher />
  </div>

  <div class="navbar-end">
    <a class="btn btn-outline" href="https://github.com">Get Template!</a>
  </div>
</div>
